.profile__info {
    margin: 22px auto 25px 30px;
    align-self: center;
    color:#fff;
}

@media screen and (max-width:800px) {
    .profile__info {
        margin-top: 26px;
        margin-bottom: 0;
        margin-left: auto;
    }
}
