.profile__button-edit {
    width: 24px;
    height: 24px;
    border: 1px solid white;
    background-image: url(../../../images/profile/button_edit.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    align-self: center;
    transition: opacity .4s ease;
    cursor: pointer;
}

@media screen and (max-width:1199px) {
    .profile__button-edit {
        width: calc(18px + (24 - 18) * ((100vw - 320px) / (1199 - 320)));
        height: calc(18px + (24 - 18) * ((100vw - 320px) / (1199 - 320)));
    }
}

.profile__button-edit:hover {
    opacity: .6;
}