.footer__copyright {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #545454;
}

@media screen and (max-width:1199px) {
    .footer__copyright {
        font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1199 - 320)));
        line-height: calc(17px + (22 - 17) * ((100vw - 320px) / (1199 - 320)));
    }
}