.profile__button-add {
    width: 150px;
    height: 50px;
    background-image: url(../../../images/profile/button_add.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid white;
    align-self: center;
    transition: opacity .4s ease;
    cursor: pointer;
    border-radius: 2px;
}

@media screen and (max-width:1199px) {
    .profile__button-add {
        width: calc(282px + (150 - 282) * ((100vw - 320px) / (1199 - 320)));
    }
}

.profile__button-add:hover {
    opacity: .6;
}