.popup__container-delete{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 394px;
  height: 145px;
  max-width: 100%;
  max-height: 100%;
  background-color: #fff;
  color:#000;
  border-radius: 10px;
  padding: 18px 18px;
}
@media screen and (max-width:1199px) {
  .popup__container-delete {
    max-width: calc(282px + (430 - 282) * ((100vw - 320px) / (1199 - 320)));
  }
}
