.element__button-delete{
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 19px;
  background-image: url(../../../images/elements/Delete2.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  box-sizing: content-box;
  padding: 0;
  border: none;
  cursor: pointer;
  transition: opacity .4s ease;
}

.element__button-delete:hover {
    opacity: .6;
}
