.footer {
    max-width: 880px;
    margin: 0 auto;
    padding-top: 66px;
    padding-bottom: 60px;
}

@media screen and (max-width:1199px) {
    .footer {
        max-width: 93%;
        padding-top: calc(48px + (66 - 48) * ((100vw - 320px) / (1199 - 320)));
        padding-bottom: calc(36px + (60 - 36) * ((100vw - 320px) / (1199 - 320)));
    }
}