.element__button-like {
    width: 22px;
    height: 19px;
    background-image: url(../../../images/elements/like.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid white;
    cursor: pointer;
    box-sizing: content-box;
    transition: opacity .4s ease;
}

.element__button-like:hover {
    opacity: .6;
}
